.experienceBoxComponent{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    @media (min-width: 668px) {
        &.right{
            flex-direction: row-reverse;
        }
        &.left{
            flex-direction: row;
        }
    }
    @media (max-width: 668px) {
        flex-direction: column-reverse;
     
    }

    .text{
        display: flex;
        flex-direction: column;


        @media (min-width: 668px) {
            width: calc(90% - 150px);
            &.right{
                padding-left: 40px;
            }
            &.left{
                padding-right: 40px;
            }
        }
        @media (max-width: 668px) {
            width: 90%;
        }

        .title{
            font-size: 30px;
            font-weight: bold;
            padding-bottom: 10px;
        }

        .description{
            font-size: 17px;
            text-align: justify;
        }
    }
    .img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border: 5px solid #d6d6d6;
        -webkit-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .17);
        -moz-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .17);
        box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .17);
    }
}