<div class = "dialog">
    <div class = "topHeader" [ngStyle]="{'background-image': 'url(' + project.backgroundImgPath + ')'}">
    </div>

    <div class = "content">
        <div class = "title">
            <p class = "dateText" [ngStyle]="{'color': project.color}">{{project.date}}</p>
            <p class = titleText>{{project.name | translate}}</p>
        </div>
        <div class = "technologies" *ngIf="project.technologies !== undefined">
            <p>{{'portfolio.projects.technologie' | translate}}{{ project.technologies.length == 1 ? "" : "s" }}</p>
            <div class = "techList">
                <div class="tech" *ngFor="let tech of project.technologies; index as i;">
                    <div class="techIcon"> <img src="{{tech.logo}}" alt="{{tech}}"> </div>
                    <div class="techTitle">{{tech.name}}</div>
                </div>
            </div>
        </div>
        <div class = "description">
            {{project.description | translate}}
        </div>
        <div class = "footer">
            <div class="footerItem" *ngFor="let info of projectFooterInformations; first as isFirst " [ngStyle]="{'background-color': project.color, 'border-left': 'solid 1px rgba(65,65,65,0.2)'}">
                <p class = "footerItemInformation">{{info.information | translate}}</p>
                <p class = "footerItemTitle">{{info.title | translate}}</p>
            </div>
        </div>
    </div>
</div>
