
<!DOCTYPE html>
<html lang="FR">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,800&display=swap" rel="stylesheet">
  <title>Portfolio Moizan Valentin | Etudiant ISEN</title>
</head>
<body>
<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<app-title [titleString]="presentationTitleData.title" [imgPath]="presentationTitleData.backgroundImgPath" ></app-title>
<app-presentation></app-presentation>
<app-title [titleString]="skillsTitleData.title" [imgPath]="skillsTitleData.backgroundImgPath" ></app-title>
<app-skills-box-list id="skillsComponent"></app-skills-box-list>
<app-title [titleString]="projectsTitleData.title" [imgPath]="projectsTitleData.backgroundImgPath" ></app-title>
<app-projects></app-projects>
<app-title [titleString]="experiencesTitleData.title" [imgPath]="experiencesTitleData.backgroundImgPath" ></app-title>
<app-experiences></app-experiences>
<app-title [titleString]="formationTitleData.title" [imgPath]="formationTitleData.backgroundImgPath" ></app-title>
<app-formation-timeline></app-formation-timeline>
<br/>
</body>

</html>
