<div class = "navBar">
    <div class="logo" [ngStyle]="{'background-image': 'url(assets/favicon.png)'}" (click)="scrollToElement('banner')"></div>
    <div class="link presentation" (click)="scrollToElement('Présentation')">Présentation</div>
    <div class="link competences" (click)="scrollToElement('Compétences')">Compétences</div>
    <div class="link projets" (click)="scrollToElement('Projets')">Projets</div>
    <div class="link experiences" (click)="scrollToElement('Expériences')">Expériences</div>
    <div class="link formation" (click)="scrollToElement('Formation')">Formation</div>
</div>