<div class = "navBar">
    <div class="selected"></div>
    <div class="expand" [ngStyle]="{'background-image': 'url(assets/logos/navbar.png)'}" (click)="expandClickNavBar()"></div>
    <div class="logo" [ngStyle]="{'background-image': 'url(assets/favicon.png)'}" (click)="scrollToElement(null)"></div>
    <div class="link Présentation" (click)="scrollToElement($event)">{{'portfolio.titlePresentation' | translate}}</div>
    <div class="link" (click)="scrollToElement($event)">{{'portfolio.titleSkills' | translate}}</div>
    <div class="link" (click)="scrollToElement($event)">{{'portfolio.titleProjects' | translate}}</div>
    <div class="link" (click)="scrollToElement($event)">{{'portfolio.titleExperiences' | translate}}</div>
    <div class="link" (click)="scrollToElement($event)">{{'portfolio.titleFormation' | translate}}</div>
</div>
<div id = "languageDropdown">
    <app-language-dropdown></app-language-dropdown>
</div>