<div class = "navBar">
    <div class="logo" [ngStyle]="{'background-image': 'url(assets/favicon.png)'}" (click)="scrollToElement('banner')"></div>
    <div class="link Présentation" (click)="scrollToElement('Présentation')">Présentation</div>
    <div class="link Compétences" (click)="scrollToElement('Compétences')">Compétences</div>
    <div class="link Projets" (click)="scrollToElement('Projets')">Projets</div>
    <div class="link Expériences" (click)="scrollToElement('Expériences')">Expériences</div>
    <div class="link Formation" (click)="scrollToElement('Formation')">Formation</div>
</div>