.navBar{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
    -webkit-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .17);
    -moz-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .17);
    box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .17);
    background-color: white;

    transition: 0.4s; //durée de l'expand
    @media (min-width: 550px) { //grande navbar
        height: 50px;
        display: flex;
        align-items: center;
        .selected{
            display: initial;
            height: 50px;
            border-right: 1px solid black;
            border-left: 1px solid black;
            transition: 0.5s;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.055);
        }
        .logo{
            left:10px;
            margin-right: 10px;
            margin-left: 10px;
            width: 45px;
            height: 45px;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .link{
            cursor: pointer;
            padding: 5px;
            font-weight: bold;
        }
    }
    @media (max-width: 550px) { //petite navbar
        text-align: left;
        overflow:hidden;
        height: 50px;
        .selected{
            display: none;
        }
        .expand{
            position: fixed;
            left: 10px;
            margin-top: 2px;
            margin-bottom: 2px;
            width: 45px;
            height: 45px;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .logo{
            position: fixed;
            left:calc(50% - 22px);
            margin-top: 2px;
            margin-bottom: 2px;
            width: 45px;
            height: 45px;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .link{
            &.Présentation{
                margin-top:50px;
            }
            cursor: pointer;
            padding: 5px;
            font-weight: bold;
        }
    }
}