#banner{
  width: 100%;
  height: 101%;
  background: linear-gradient(0deg, rgba(42,95,105,1) 0%, rgba(70,160,176,1) 100%);
  position: relative;
  -webkit-box-shadow: 1px 0 34px 0 rgba(0,0,0,.57);
}

.midBanner{
  width: 100%;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,1);
}

#nameBanner{
  font-size: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
#descBanner{
  margin-left: 15px;
  margin-right: 15px;
}
#arrowDown{
  position:absolute;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width:60px;
  top:85%;
  filter: drop-shadow(6px 6px 10px black);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (max-width:550px) {
  .midBanner{
    top:30%;
  }
  #arrowDown{
    width:40px;
  }
  #nameBanner{
    font-size: 30px;
  }
  #descBanner{
    font-size: 10px;
  }
}
#arrowDown img{
  transition: all .2s ease-in-out;
  width: 100%;
}
#arrowDown img:hover {
  transform: scale(0.90);
}

