
.card{
  width:95%;
  height:90%;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 8px;
  -webkit-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .37);
  -moz-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .37);
  box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .37);
  background-color: white;
  z-index: 10;
  margin: 20px;
}
.leftCard{
  display: flex;
  flex-direction: column;
  width:50%;
}
.topLeftCard{
  display: inline-block;

}
.topLeftCard img{
  width: 130px;
  display: inline-block;
  vertical-align:middle;
}
.topLeftCard h1{
  display: inline-block;
  vertical-align:middle;
}
.rightCard{
  width:50%;
}
.rightCard img{
  width:100%;
}


