.experienceBoxList{
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    .experienceBox{
        display: inline-block;
        margin-bottom: 40px;
        @media (min-width: 668px) {
            padding-inline: 50px;
            width: 30%;
        }

        @media (max-width: 668px) {
            width: 100%;
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}

