
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    --color-banner-background:rgb(35, 33, 126);
    --color-banner-background2:rgb(186, 213, 255);
 }