.timeline{
    width: 100%;
    height: auto;
    position: relative;
    .line{
        margin-top: 20px;

        height: calc(100% - 100px);; //Hauteur de la timeline - 100px
        width: 50%;
        @media (max-width: 668px) {
            width: 80px;
        }
        

        position: absolute;
        border-right: 2px solid #d6d6d6;
    }
}