.presentation {
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 8px;
  -webkit-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .37);
  -moz-box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .37);
  box-shadow: 1px 0 34px 0 rgba(0, 0, 0, .37);
  display: flex;
  background-color: white;
  position: relative;
  z-index: 10;
  margin: 65px 10%;
  align-items: center;
}

.presentation .imgPres{
  width: 100%;
  padding: 1%;
  text-align: center;
  border-right: black;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(1,1,1,0.1);
}

.presentation img{
  width: 200px;
}

.presentation .textPres{
  padding-right: 2%;
  padding-left: 1%;
}

.presentation p {
  font-size: 22px;
  color: rgba(0,0,0,.71);
  text-align: justify;
}

@media (max-width: 668px) {
  .presentation{
    display: inline-block;
  }
  .presentation .textPres{
    padding-right: 4%;
    padding-left: 4%;
  }
  .presentation .imgPres{
    border-right-width: 0;
  }
  .presentation img{
    width: 130px;
    margin-top:10px;
  }
  .presentation p {
    font-size: 15px;
  }
}
