<!--<h2 id="presentationTitle">Présentation</h2>-->
<div class="presentation">
  <div class="imgPres">
    <img src="assets/me.png" alt="moi">
  </div>
  <div class="textPres">
    <p>Je m’appelle Valentin Moizan et je suis en 5 ème année à
      l’ISEN de Brest. Dès le collège, j’ai commencé à développer ma passion pour l’informatique
      en passant par les jeux vidéo et en montant des projets personnels autour de ceux ci. Mon
      intérêt dans ce domaine s’est focalisé sur le développement logiciel ainsi que le développement
      de jeux vidéos.</p>
  </div>
</div>
